@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

.itemcard {
  .itemcard-container {
    margin: 2rem 1rem;
    width: 400px;
    height: 230px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.25s ease;
    }
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    height: 230px;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
}

.modal {
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    background: rgba(0, 0, 0, 0.85) !important;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    max-width: 500px;
    height: 300px;
    background: rgba(58, 67, 77, 0.82) !important;
    margin: auto;
    border: none !important;
    border-radius: 10px !important;
    outline: none;
    font-family: "Baloo 2", cursive;
    overflow-y: scroll;
    padding: 5px 20px 10px 20px !important;
    text-align: justify;

    &::-webkit-scrollbar {
      display: none;
    }

    h3 {
      color: rgb(231, 238, 235);
      font-weight: 500;
      font-size: 35px;
      text-align: center;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 10px 0;
    }

    p {
      color: rgb(58, 233, 189);
      font-size: 15px;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
    }

    span {
      color: rgb(192, 214, 223);
      font-weight: 400;
      font-style: normal;
    }
  }
}

@media screen and (max-width: 750px) {
  .itemcard {
    .itemcard-container {
      margin: 1rem 0 !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .itemcard {
    width: 95%;

    .itemcard-container {
      padding: 10px 0;

      &:hover {
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .itemcard-container {
    margin: 0 !important;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    h3 {
      font-size: 24px !important;
      margin-bottom: 10px;
      margin-top: 10px;
      line-height: 22px !important;
    }
    p,
    span {
      font-size: 14px !important;
    }
  }
}
