@import "../assets/variables.scss";

section.header {
  display: flex;
  align-items: center;
  padding-top: $fingerSize * 4;
  margin-bottom: $fingerSize + 6px;

  .header-container {
    width: $originalWidth;
    display: flex;
    justify-content: space-between;
    animation: fadeUp 2s forwards;

    .header-nav {
      display: flex;
      align-items: center;

      a {
        width: $headerWidth;
        margin-top: $fingerSize + 10px;
        margin-right: $fingerSize + 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;

        &:hover {
          transform: scale(1.05);
          -moz-transform: scale(1.05);
          -webkit-transform: scale(1.05);

          svg path {
            stroke: $colorWhite;
            transition: all 0.5s ease;
          }

          span {
            color: $colorWhite;
            opacity: 1;
            transition: all 0.5s ease-out;
          }
        }

        &:focus {
          span {
            opacity: 1;
          }

          svg path {
            stroke: $colorSvg;
            transition: all 0.5s ease;
          }
        }

        &:active {
          svg path {
            opacity: 0.75;
            transition: all 0.3s ease;
          }
        }

        svg {
          margin-bottom: $fingerSize - 3px;
        }

        span {
          font-size: $fontSize - 2px;
          font-weight: bold;
          opacity: 0;
          letter-spacing: 1px;
          color: $colorSecondary;
        }
      }
      a.nav-home {
        &:hover {
          .nothome {
            fill: $colorWhite;
          }
        }
        &:focus {
          .nothome {
            fill: $colorSvg;
          }
        }
      }
    }

    .hulu-btn {
      margin-right: $fingerSize + 5px;
      outline: none;
      border: none;
      background: none;

      &:active {
        opacity: 0.75;
      }
    }
  }

  @keyframes fadeUp {
    from {
      transform: translateY(-300px);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 750px) {
  section.header {
    padding-top: $fingerSize + 14px;
    margin-bottom: $fingerSize - 2px;
    .header-container {
      flex-direction: column-reverse;

      .header-nav {
        margin-top: ($fingerSize * 3) + 2px;
        justify-content: space-around;

        a {
          margin: 0;
        }
      }
      .hulu-btn {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section.header {
    .header-container {
      .header-nav {
        .nav-verified {
          display: none;
        }

        a {
          span {
            font-weight: $fontWeight;
          }
        }
      }
    }
  }
}
