section.header {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 1rem;

  .header-container {
    width: 100%;
    display: flex;

    .header-nav {
      display: flex;
      align-items: center;

      a {
        width: 60px;
        margin-top: 20px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        .home-nav {
          margin-left: -7px;
        }

        &:hover {
          transform: scale(1.05);
          transition: all 0.5s ease;

          svg path {
            stroke: #ffffff;
            transition: all 0.5s ease;
          }

          span {
            color: #ffffff;
            opacity: 1;
            transition: all 0.5s ease-out;
          }
        }

        &:focus {
          span {
            opacity: 1;
          }

          svg path {
            stroke: #1ce783;
            transition: all 0.5s ease;
          }
        }

        &:active {
          svg path {
            opacity: 0.75;
            transition: all 0.3s ease;
          }
        }

        svg {
          margin-bottom: 7px;
        }

        span {
          font-size: 12px;
          font-weight: bold;
          opacity: 0;
          letter-spacing: 1px;
          color: #ebd9d9;
        }
      }
      a.nav-home {
        &:hover {
          .nothome {
            fill: #ffffff;
          }
        }
        &:focus {
          .nothome {
            fill: #1ce783;
          }
        }
      }
    }

    .hulu-btn {
      margin-left: auto;
      margin-right: 12px;
      outline: none;
      border: none;
      background: none;

      &:active {
        opacity: 0.75;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  section.header {
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    .header-container {
      flex-direction: column-reverse;

      .header-nav {
        margin-top: 2rem;
        justify-content: space-around;

        a {
          margin: 0;
        }
      }
      .hulu-btn {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section.header {
    .header-container {
      .header-nav {
        .nav-verified {
          display: none;
        }

        a {
          span {
            font-weight: normal;
          }
        }
      }
    }
  }
}
