@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

section.navbar {
  display: flex;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    height: 70px;

    h2 {
      display: flex;
      list-style-type: none;
      margin-left: 15px;
      color: #aca3a3;
      opacity: 0.75;
      font-size: 20px;
      cursor: pointer;
      white-space: nowrap;
      font-family: "Baloo Tamma 2", cursive;
      font-weight: 400;

      &:hover {
        color: #e9e6e6;
        opacity: 1;
        transform: scale(1.1);
        transition: transform 0.2s ease;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  section.navbar {
    .nav-container {
      h2 {
        font-size: 15px;
      }
    }
  }
}
