@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

section.navbar {
  display: flex;

  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
    ul {
      display: flex;
      list-style-type: none;

      li {
        margin-right: 1.5rem;
        font-weight: 400;
        opacity: 0.75;
        font-size: 20px;
        font-family: "Baloo Tamma 2", cursive;
        white-space: nowrap;

        a {
          text-decoration: none;
          color: #aca3a3;

          &:focus {
            color: #ffffff;
            font-size: 21px;
            transition: all 0.2s ease;
          }

          &::after {
            display: block;
            padding-bottom: 1px;
            content: "";
            border-bottom: 3px solid #1a8676;
            transform: scaleX(0);
            transition: transform 0.3s ease;
          }

          &:hover::after,
          &:focus::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
